<header class="header">
    <div class="gradient-block"></div>
    <a href="<%= root_path %>" class="logo"><%= image_tag "logo.png" %></a>
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="<%= root_path %>">Home</a></li>
            <% tags.each do |tag| %>
                <li><a href="/articles/tags/<%= tag.id %>"><%= tag.name %></a></li>
            <% end %>
         
        </ul>
        <% if user_signed_in? %> 
            <a href="<%= dashboard_path %>"><button class="dashboard-btn">Dashboard</button></a>
        <% end %>
    </nav>
</header>