<div class="tag posts">
    <h2>Posts: <%= "tag" %> </h2>
    <div class="grid">

        <% @articles.each do |article| %>
        <div class="post">
            <div class="post-image">
                <a href="/articles/<%= article.id %>"><img src="<%= article.image_url %>" alt="Article image"></a>
            </div>
            <div class="post-head">
                <div class="post-infos">
                    <div>
                        <span><a href="#">John Doe</a>・<time><%= article.created_at.strftime("%d %b, %Y  %I:%M %P") %></time></span>
                        <h3 class="post-title"><a href="/articles/<%= article.id %>"><%= article.title %></a></h3>
                    </div>           
                    <div>
                        <a href="/articles/<%= article.id %>">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="post-svg-link">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 19.5l15-15m0 0H8.25m11.25 0v11.25" />
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="post-shortdesc">
                    <a href="/articles/<%= article.id %>"><p><%= article.shortdesc %></p>
                    </a>
                </div>
                
                <div class="post-tags">
                    <ul>
                        <% article.tags.each do |tag| %>
                            <a href="/articles/tags/<%= tag.id %>"><li class="tag"><%= tag.name %></li></a>
                        <% end %>
                    </ul>
                </div>
                
            </div>
        </div>
        <% end %>
    </div>
    
</div>