<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield :title %> | Tech blog (fictive) </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :metas %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "partials/header", tags: tags %>
    <div class="container">
      <%= yield %>
    </div>
    
    <div class="gradient-block"></div>
    <%= render "partials/footer" %>

  </body>
</html>
