<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logirails | Blog </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="header">
      
        <div class="gradient-block"></div>
        <a href="<%= root_path %>" class="logo"><%= image_tag "logo.png" %></a>
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
        <!-- Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="<%= root_path %>">Home</a></li>
                <li><a href="#">Catégorie 1</a> </li>
                <li><a href="#">Catégorie 2</a></li>
                <li><a href="#">About</a></li>
            </ul>
            <a href="#"><button>Contact</button></a>
        </nav>
    </header>
    <div class="container">
      <%= yield %>
    </div>
    
    <div class="gradient-block"></div>
    <footer class="footer">

      
      
      <div class="footer-sections">
        <div class="footer-newsletter">
          <h4>Newsletter</h4>
          <p>Want to get update about new posts before everyone, or about events. Just subscribe to our newsletter and get updated !</p>
          <form action="/newsletter" class="footer-newsletter-form">
            <input name="email" type="email" class="input" size="1" placeholder="Enter an email" required autocomplete="email" />
            <button type="submit">Subscribe</button>
          </form>
        </div>
        <div class="footer-links">
          <h4>Usefull links</h4>
          <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
  
        <div class="footer-informations">
          <h4>Informations</h4>
          <p>Logirails is a fictive blog based on Ruby on Rails. </p>
        </div>
      </div>
      
    
      <div class="footer-copyright">
        
        <a href="<%= root_path %>" class="logo"><%= image_tag "logo.png" %></a>
        <p>Coypyright &copy; Logirails 2023</p>
      </div>

    </footer>


  </body>
</html>
