<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= yield :title %> | Tech blog (fictive) </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= yield :metas %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    
    <div class="gradient-block"></div>
    
    <div class="devise-alerts">
      <% if notice %>
        <div class="notice message">
          <%= notice %>
        </div>
      <% elsif alert %>
        <div class="alert message">
          <%= alert %>
        </div>
      <% end %>
    </div>

    <div class="devise-container">
        <div class="devise-image">
            <img src="https://loremflickr.com/1920/1080/paysage" alt="Devise image" />
        </div>
        <div class="devise-content">
            <%= yield %>
        </div>
    </div>
    

  </body>
</html>